


    <form action="/" method="post">
    <div class="measurement row">
        <div class="measurement__entry">
            <div class="block">
                <label>дата: </label><br>
                <input
                type="date"
                value="2023-01-01"
                name="date" 
                />
            </div>
        </div>
        <div class="measurement__entry">
            <div class="block">
                <label>верхнее давление: </label><br>
                <input
                type="number"
                value=""
                name="upper"
                />
            </div>
        </div>
        <div class="measurement__entry">
            <div class="block">
                <label>нижнее давление: </label><br>
                <input
                type="number"
                value=""
                name="lower"
                />
            </div>
        </div>
        <div class="measurement__entry">
            <div class="block">
                <label>пульс</label><br />
                <input
                type="number"
                value=""
                name="pulse"
                />
            </div>
        </div>
        <div class="measurement__entry">
            <div class="block">
                <label>вес</label><br />
                <input
                type="number"
                value=""
                name="weight"
                />
            </div>
        </div>
    </div>
        <input type="submit" class = "send" />
    </form>       