    <form action="/" method="post">
        <label>дата</label><br />
        <input
            type="date"
            value="2023-01-01"
            name="date"
        />
        <br>
        <label>верхнее давление</label><br />
        <input
            type="number"
            value=""
            name="upper"
        />
        <br>
        <label>нижнее давление</label><br />
        <input
            type="number"
            value=""
            name="lower"
        />
        <br>
        <label>пульс</label><br />
        <input
            type="number"
            value=""
            name="pulse"
        />
        <br>
        <label>вес</label><br />
        <input
            type="number"
            value=""
            name="weight"
        />
        
        <br>
        <input type="submit" />
        </form>