


        <div class="header row">
            <div class="header__home">
                <div class="block">
                    <a href="/">home</a>
                </div>
            </div>
            <div class="header__all">    
                <div class="block">
                    <a href="/all">all</a>
                </div>           
            </div>    
        </div>        
    