    
        <div class="header">
           <div class="header__home ">
                <div class="block">
                    <a href="/">главная</a>
                </div>
           </div>
           <div class="header__all ">
                <div class="block">
                    <a href="/all">все замеры</a>
                </div>
           </div>           
        </div>
    