*,
*::before,
*::after {
  box-sizing: border-box;
}
@import 'grid/init';

html,body{
    margin: 0;
    font-size: 22px;

}
body{
    background-color: #eceaea;
}


.block{
    border: solid 1px #aaa;
   // padding: 20px;
    text-align: center;
    height: 100%;
}

.container{
    background-color: #ffffff;
    padding-bottom: 30px;
    border:solid 1px;
    @include container;
    max-width: 1540px;
    
}

.row{
    @include row;
    padding-bottom: 15px;
}

.header{
    font-size: 150%;
    &__nav{
        background-color: rgb(255, 57, 57);
        @include col(10);
    }   
}

.measurement{
    

    @include bp(sm){   
   &__entry{
    font-size: 150%;
    @include col(20);   
    margin-bottom: 10px; 
    background-color: #dad9d9;
   }

   }
   @include bp(lg){ 
   &__entry{
    font-size: 100%;
    @include col(4);    
   }
   }
}

.table{
    background-color: #aaa;
    margin-bottom: 10px;
    padding-top: 10px;  
    margin-right: 20px;
}


.field{
    @include bp(sm){
        background-color:aquamarine;
        font-size: 150%;
        @include col(4);
    }
    @include bp(lg){
        font-size: 100%;
        background-color:aquamarine;
        @include col(4);
    }
}
.send{
    @include bp(sm){
        width: 150px;
        height: 50px;
        margin-left:42%;
    }
    @include bp(lg){
        width: 100px;
        height: 30px;
        margin-left: 0; 
    }
}
