*,
*::before,
*::after {
  box-sizing: border-box;
}
@import 'grid/init';

html,body{
    margin: 0;
    font-size: 22px;

}
body{
    background-color: #eceaea;
}


.block{
    border: solid 1px #aaa;
   // padding: 20px;
    text-align: center;
    height: 100%;
}

.container{
    background-color: #ffffff;
    padding-bottom: 30px;
    border:solid 1px;
    @include container;
    max-width: 1540px;
    
}

.row{
    @include row;
    padding-bottom: 15px;
}

.header{
    
    &__nav{
        background-color: rgb(255, 57, 57);
        @include col(10);
    }   
}

.measurement{
    

    @include bp(sm){   
   &__entry{
    @include col(20);   
    margin-bottom: 10px; 
    background-color: #dad9d9;
   }

   }
   @include bp(lg){ 
   &__entry{
    @include col(4);    
   }
   }
}

.table{
    background-color: #aaa;
    margin-bottom: 10px;
    padding-top: 10px;
}


.field{
    background-color:aquamarine;
    @include col(4);
}
