$grid-columns: 12;

$grid-gutter-width: 1.0rem;

/*
$grid-breakpoints:(
    z: 0,
    lt: 576px,
    md: 992px,
    bg: 1800px
);

$container-max-widths:(
    sm: 540px,
    md: 960px,
    xl: 1420px
);*/
//@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/bootstrap/scss/mixins/container";
@import "../../node_modules/bootstrap/scss/mixins/grid";